target/
*.class
*.jar
.idea/
*.iml
.settings/
.classpath
.project
.factorypath
*.log
.DS_Store
mvnw.cmd
.mvn/local-settings.xml
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
batch-test-example.json
user-validation-schema.json

# JDK distribution
jdk-25/
jdk-25.0.2.zip

